/* ---------------------------------- 
---- Import all your style here -----
------------------------------------*/

/* ---------------------------------- 
- Import all your helpers file here -
------------------------------------*/

/* ---------------------------------- 
------ Your variable is started -----
------------------------------------*/

/* ---------------------------------- 
- Import all your component file here -
------------------------------------*/

.row {
  margin-left: 0;
  margin-right: 0;
}

.card .title {
  font-size: 23px !important;
}

.card.dashboard {
  padding: 25px;
}

.card.dashboard .card-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
}

.card.dashboard .card-title.card-number-large {
  font-size: 35px;
}

.card.dashboard .card-category {
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  color: #FFFFFF;
}

.card.dashboard .card-description {
  font-size: 12px;
  text-transform: capitalize;
  color: #e6e6e6;
}

.card.dashboard .card-icon {
  position: absolute;
  font-size: 20px;
  color: #FFFFFF;
}

.card.dashboard .card-icon.top {
  top: 30px;
}

.card.dashboard .card-icon.right {
  right: 40px;
}

.panel .panel-heading {
  padding: 15px;
}

.panel .panel-body {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
}

.panel .panel-body.card-group {
  height: 400px;
  overflow: auto;
}

@media (max-width: 575px) {
  .panel .panel-body .icon-navigation.right {
    position: absolute;
    right: 0;
    top: -30px;
  }
}

.panel .panel-body .panel-group-description {
  font-size: 12px;
}

.panel .panel-body .panel-group-description:before {
  content: url(/images/demo.png?d27589eb10aa3c065150de14e29fe833);
  margin-right: 5px;
}

.panel .panel-body .avatar-icon i {
  font-size: 50px;
  color: #FFFFFF;
}

.panel .panel-body .content .content-title {
  color: #FFFFFF;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 600;
}

.panel .panel-body .content .content-description {
  color: #FFFFFF;
  margin-bottom: 0;
  font-size: 20px;
}

.panel.event {
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-origin: content-box;
  border: 2px solid #000000;
  cursor: pointer;
}

.panel.event .panel-body .card-title {
  width: 160px;
  height: 160px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #FFFFFF;
  border: 2px solid #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.panel.event .panel-body .card-title .event-name {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-align: center;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.panel.event .panel-body .event-date {
  right: 20px;
  position: absolute;
  margin-top: -10px;
  background-color: #FFFFFF;
  padding: 10px;
}

.panel.event .panel-body .event-date .title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}

.panel.event .panel-body .event-date .date {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
}

canvas {
  height: 300px;
  width: '100%';
}

.badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: red;
  width: 17px;
  height: 17px;
  position: absolute;
  top: 0;
  right: 7px;
  border-radius: 50%;
}

.badges span {
  color: white;
  margin: 0;
  font-size: 10px;
}

.navbar {
  background-color: #4075F0;
}

.navbar .navbar-brand {
  color: #FFFFFF;
}

.navbar .navbar-collapse .nav .dropdown .dropdown-toggle:focus {
  background-color: transparent;
}

.navbar .navbar-collapse .nav .dropdown .dropdown-toggle i {
  color: #FFFFFF;
}

.navbar .navbar-nav.hidden-lg .dropdown {
  position: absolute;
  top: 0;
  right: 50px;
}

.navbar .navbar-nav.hidden-lg .dropdown.open {
  z-index: 1;
}

.navbar .navbar-nav.hidden-lg .dropdown.open .dropdown-menu {
  background-color: #FFFFFF;
  position: absolute;
  left: auto;
  right: 0;
  margin-right: -35px;
  margin-top: 10px;
  width: calc(100vw - 28px);
  border-radius: 0;
}

.navbar .navbar-nav.hidden-lg .dropdown.open .dropdown-menu li a {
  padding-left: 5px;
}

.navbar .navbar-nav.hidden-lg .dropdown .dropdown-toggle {
  background-color: transparent;
}

.navbar .navbar-nav.hidden-lg .dropdown .dropdown-toggle i {
  color: #FFFFFF;
}

.btn.btn-white {
  background-color: #FFFFFF;
  color: #000000;
  border: 1px solid #FFFFFF;
}

.btn.btn-white:hover {
  background-color: inherit;
}

.btn.btn-white:focus {
  background-color: #FFFFFF;
  color: #000000;
}

.sidebar .sidebar-wrapper .nav.nav-mobile-menu .dropdown.hidden-sm {
  display: none;
}

