.sidebar {
    .sidebar-wrapper {
        .nav {
            &.nav-mobile-menu {
                .dropdown {
                    &.hidden-sm {
                        display: none;
                    }
                }
            }
        }
    }

    &:after {
        background-color: $navbar-background-color !important;
        background-image: none !important;
    }
}