.nav {
    &.nav-tabs {
        border: none;
        margin-bottom: 20px;

        li {
            margin-right: 10px;

            &.active {
                a {
                    background-color: $navbar-background-color;
                    color: $white;
                    border: none;
                    font-weight: $font-bold;
                    &:hover {
                        border: none;
                    }
                }
            }

            a {
                background-color: transparent;
                color: $black;
                border: none;
                border-radius: 100px;
                padding: 10px 20px;
                letter-spacing: 1px;
            }
        }
    }
}